@using Bnpp.DataLayer.Entities
@model IEnumerable<Bnpp.DataLayer.Entities.TransientGroups>
@{
    ViewData["Title"] = "CreateTransientGroups";
    Layout = null;
}



<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>

    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td style="">
                        <b><a class="breadcumb2-link" href="/Admin">Main</a></b>
                    </td>
                </tr>
            </tbody>
        </table>
        <a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();">
            <img src="/images/help.png" style="width: 48px;" class="imgHelp">
        </a>
    </div>



    <div id="iContent">

        <div class="tab-buttons">
            <ul>
                <li id="tab-button1" class="tab-buttons-li" style="background-color: rgb(208, 208, 208); border-color: rgb(128, 128, 128); font-weight: bold;">
                    <a id="tab-button-a1"
                       onclick="showPage1()" style="cursor:pointer;color: rgb(0, 113, 158);">
                        Create Transients
                    </a>
                </li>
                <li id="tab-button2" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-buttona2" onclick="showPage2()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Save Transients
                    </a>

                </li>
                <li id="tab-button3" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-button-a3" onclick="showPage3()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Results
                    </a>
                </li>
            </ul>

            <div style="clear:both;"></div>
        </div>

      

        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <label style="margin:10px">
                            <input type="button" id="graph" onclick="ShowList();" class="btn-default" value="Transients Basic Data">
                            <input type="button" onclick="HideList();" class="butn-cancel" style="direction: ltr; text-align: center;margin-bottom:-7px;">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="newList">
        </div>
    </div>
</div>


<link href="/css/bootstrap-modal1.css" rel="stylesheet" type="text/css" />

<script src="/js/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<script src="/js/datatables.min.js"></script>

<script>

    //function ShowList() {
    //    $("#newList").load("/Transients/TransientsList/");
    //}

    function ShowList() {
        $("#newList").load("/Transients/GroupedOfTransient/");
    }

    function HideList() {
        $("#Tabs").load("/Transients/CreateTransientGroups/");
    }

    function showPage1() {
        $("#Tabs").load("/Transients/CreateTransientGroups/");
    }

    function showPage2() {
        $("#Tabs").load("/Transients/SaveTransients/");
    }

    function showPage3() {
        $("#Tabs").load("/Transients/Results/");
    }


    $(document).ready(function () {
        $("#myTable").DataTable();
    });

    function Create(parentId) {
        $.get("/Transients/Create/" + parentId,
            function (result) {
                $("#myModal").modal();

                $("#myModalLabel").html("");
                $("#myModalBody").html(result);
            }
        );

    }


    $("#checkAll").click(function () {
        $(".checkBox").prop('checked',
            $(this).prop('checked'));
    });

    function closeModal() {
        $('#myModal').modal('hide');
    }

</script>

